.main-Container {
  font-size: x-large;
  color: #d1d1d1;
}
.section-1 {
  background-color: #637d97;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
.topbar {
  /* background-color: aliceblue; */
  width: 100%;
  height: 4vh;
  padding-top: 3vh;
}
.topbar-container {
  display: flex;
  justify-content: space-between;
}
.sidebar {
  padding-left: 5vw;
}
.midNav {
  border-width: 2px;
  border: linen;
}
.search {
  padding-right: 6vw;
}
i {
  position: absolute;
  height: 200px;
  background: linear-gradient(transparent, #fff);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: animate 5s infinite;
}

i:nth-child(3n + 1) {
  background: linear-gradient(transparent, rgb(223, 223, 223));
}
i:nth-child(3n + 2) {
  background: linear-gradient(transparent, rgb(83, 255, 255));
}
i:nth-child(3n + 3) {
  background: linear-gradient(transparent, rgb(176, 255, 130));
}

@keyframes animate {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(calc(100vh + 200px));
  }
}

.scroll-track {
}

.marquee {
  width: 100vw;
  height: 2rem;
  overflow: hidden;
  padding: 4;
  position: relative;
}

.marquee::before,
.marquee::after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee::before {
  left: 0;
  background: linear-gradient(to right, #222831 0%, transparent 100%);
}

.marquee::after {
  right: 0;
  background: linear-gradient(to left, #222831 0%, transparent 100%);
}

.scroll1 {
  animation: scrolling 20s linear 0.2s infinite;
}

.scroll2 {
  animation: scrolling 19s linear infinite;
}

.scroll-track li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  flex-shrink: 0;
  white-space: nowrap;
  color: #637d97;
  opacity: 60%;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-5vw * 20));
  }
}
